.content{
    display: flex;
    flex-direction: column;
}

.contentPost{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media(max-width: 768px){
    html{
        font-size: 87.5%;
    }
}

